/api/target/
/api/dependency-reduced-pom.xml
/cli/target/
/cli/nbactions.xml
/cli/MyFirstExcel.xlsx
*.project
*.classpath
/.settings/
/api/tickets-resto-nc-api.iml
/.idea/
/cli/tickets-resto-nc-cli.iml
/tickets-resto-nc.iml
/solde.xlsx
/Affilies.xls
/target/